* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #dee3ed;



}

header {
    color: black;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
    margin: 0;
}

header h1 {
    color: #010101;
    margin: 10px;
}

.active {
    margin-top: 50px;
    position: fixed;
}

#resultados {
    display: none;
}

.contenedor-principal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Ysabeau', sans-serif;
    padding: 0;
    margin: 0;

}

#myButton,
#Button-respuesta {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    color: white;
    font-weight: 900;
}

#removeButton,
#ButtonRemoverRespuesta {
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 5px 12px;
    margin: 5px;
    color: white;
    font-weight: 900;
}

#myButton:hover,
#Button-respuesta:hover,
#removeButton:hover,
#ButtonRemoverRespuesta:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2px black) drop-shadow(0 0 2px black) drop-shadow(0 0 2px black);
    transform: scale(1.1);
}

.botones-preguntas,
.botones-respuestas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.botones-preguntas {
    border: solid 1px black;
}

.botones-respuestas {
    border: solid 1px black;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fcb800;
}

.botones-2 {
    display: flex;
    margin: 10px;
}

.contenedor_P-R {
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
}

.contenedor_preguntas,
.contenedor_respuestas {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.respuestas,
.preguntas {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.contenedor_preguntas label,
.contenedor_respuestas label {
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
}

.contenedor_preguntas .pregunta,
.contenedor_respuestas .respuesta {
    width: 900px;
    height: 80px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
}

#resultado {
    background-color: black;
    padding: 10px;
    color: #fcb800;
    width: 500px;
    height: 500px;
    margin: 10px;
}

#copiar,
#enviar,
#actualizar {
    margin: 10px;
    border-radius: 10px;
    color: black;
    font-weight: 800;
    font-size: 16px;
    padding: 10px;
    border: none;
    background: #fcb800;
}

#copiar:hover,
#enviar:hover,
#actualizar:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2px black) drop-shadow(0 0 2px black) drop-shadow(0 0 2px black);
    transform: scale(1.1);
}


.mensaje {
    display: none;
    color: black;
    opacity: 0;
    font-size: 20px;
    font-weight: 900;
    transition: all 1s ease;
    margin: 5px;
}

.mensaje.activarMensaje {
    display: block;
    animation: latidos 1s infinite;
}

@keyframes latidos {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@media (max-width: 1000px) {

    .contenedor_preguntas .pregunta,
    .contenedor_respuestas .respuesta {
        width: 100%;
        height: 80px;
        border-radius: 5px;
        border: none;
        margin: 5px;
        padding: 5px;
        font-size: 16px;
        font-weight: 600;
    }

    #resultado {
        background-color: black;
        padding: 10px;
        color: #fcb800;
        width: 100%;
        height: 500px;
        margin: 10px;
    }
}

/*scroll style*/
html {
    scroll-behavior: smooth;
}

.my-link {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #fcb800;
    color: black;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}

.my-link:hover {
    filter: drop-shadow(0 0 2px black) drop-shadow(0 0 2px black) drop-shadow(0 0 2px black);
    transform: scale(1.1);
}

.activeScroll {
    display: block;
}